<!doctype html>
<html lang="en">
<head><title>Customers</title></head>
<body>
<h1>Customers</h1>
<a href="/customer/new">Create New Customer</a> | <a href="/payment">Record Payment</a>
<table border="1">
    <tr><th>ID</th><th>Name</th><th>Type</th><th>Amount Due</th><th>Paid</th></tr>
    {% for c in customers %}
    <tr>
        <td>{{ c[0] }}</td>
        <td>{{ c[1] }}</td>
        <td>{{ c[2] }}</td>
        <td>{{ c[3] }}</td>
        <td>{{ 'Yes' if c[4] else 'No' }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
